.profile-main-section{
    display: block;
    background-color: $main-color3;
}

.profile{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 40px;

    .profile-welcome-div{
        width: 25%;
        font-weight: $font1-bold;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        max-width: 250px;

        h2{
            font-size: 25px;
            color: $main-color1;
            padding-bottom: 10px;
        }

        .profile-welcome{
            display: block;
            max-width: 100%;
        }

        p{
            font-size: 18px;
            color: $main-color8;
            line-height: 30px;
        }
    }

    .profile-edit-form{
        width: 75%;
        display: flex;
        flex-direction: column;
        padding-left: 10px;

        h2{
            font-size: 25px;
            color: $main-color1;
            font-weight: $font1-bold;
            padding-bottom: 20px;
        }

        h3{
            color: $main-color8;
            font-size: 16px;
            font-weight: $font1-bold;
        }

        .profile-edit-form-top{
            display: block;
            background-color: #ced8b2f5;
            padding: 20px 20px;
            border: 2px solid  $main-color6;
            border-bottom: none;
        }

        .profile-edit-inputs{
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: white;
            border: 2px solid  $main-color6;
            border-top: none;
            padding: 0 20px;
            padding-bottom: 20px;

            .profile-edit-info-tag{
                width: 100%;

                h3{
                    padding: 15px 30px;
                }

                .profile-form-field{
                    background-color: white;
                    width: 100%; 
                    padding: 15px 30px;   
                    margin-bottom: 12px;
                    border-radius: 5px;
                    border: 1px solid $main-color4;
                    max-width: 100%;
                    
                    :first-of-type{
                        margin-top: 12px;
                    }                
                }
                .profile-form-image-change{
                    padding: 15px 30px; 
                }
            }
        }

        .profile-edit-btn-container{
            display: flex;
            flex-direction: column;
            margin-top: 15px;

            .session-button{
                color: white;
                background-color: #ced8b2f5;
                border: 2px solid  $main-color6;
                text-align: center;
                border-radius: 8px;
                width: 100%;
                padding: 15px;
                font-size: 17px;
                font-weight: 600;
                text-transform: uppercase;                
            }

            :first-child{
                margin-bottom: 10px;
            }

            :last-child{
                background-color: #ee9385;
                border: 2px solid #9e4d40;
            }

            :last-child:hover{
                background-color: #9e4d40;
                border: 2px solid #9e4d40;
                transition: all 0.05s ease-in;                
            }

            :hover{
                background-color: $main-color6;
                transition: all 0.05s ease-in;
            }
        }
    }
}
