//main colors:
$main-color1: #f27360;
$main-color2: #DDBEA9;
$main-color3: #faf1ea;
$main-color4: #B7B7A4;
$main-color5: #cacaba;
$main-color6: #6b705cf5;
$main-color7: #6b705cd8;
$main-color8: #464646;

$font1: 'Inter', sans-serif;
$font1-reg: 400;
$font1-bold: 900;


.main-body{
    font-family: $font1;
    display:block;
    position: relative;
    height: 100%;
    // padding-bottom: 300px; 
}   

.content-container{
    margin:auto;
}

.container{
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1em;
    // height: 100%;
}

.color6{
    background-color: $main-color6;
}
.color5{
    background-color: $main-color5;
}
.color4{
    background-color: $main-color4;
}
.color3{
    background-color: $main-color3;
}
.color2{
    background-color: $main-color2;
}
.color1{
    background-color: $main-color1;
}



Link{
    background-color: $main-color1;
    border-radius: 10px;
}

.header{
   display: block;
   background-color: $main-color6;
   filter: drop-shadow(0 1px 10px $main-color8);


   .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $main-color3;
      padding: 20px;

      .main-title{
         max-width: 200px;
         height: auto;

         img{
            max-width: 250px;
            height: auto; 
         }
      }
   }
}

.errors{
    color: red;
}

#root{
    height: 100%;
    background-color: $main-color3;
    position: relative;
    // min-height: 100vh;
}

html, body{
    height: 100%;
}


body::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}
   
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $main-color3;
}
   
body::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $main-color1;
    box-shadow: -7px 0 9px -5px $main-color5;
}

body::-webkit-scrollbar-corner {
    background-color: $main-color3;
}