//main colors:
$main-color1: #CB997E;
$main-color2: #DDBEA9;
$main-color3: #FFE8D6;
$main-color4: #B7B7A4;
$main-color5: #A5A58D;
$main-color6: #6B705C;

 content-container{
    display:block;
 }

 .container{
        max-width: 1020px;
        margin-left: auto;
        margin-right: auto;
        padding: 0 1em;
     }

 .color6{
    background-color: #6B705C;
}
 .color5{
     background-color: #A5A58D;
 }
 .color4{
    background-color: #B7B7A4;
}
.color3{
    background-color: #FFE8D6;
}
.color2{
    background-color: #DDBEA9;
}
.color1{
    background-color: #CB997E;
}



h1{
    font-size: 40px;
 
}

h2{
    font-size: 30px;

}

h3{
    font-size: 20px;

}

Link{
    background-color: $main-color1;
    border-radius: 10px;
}

.header-title{
   display: block;
   background-color: $main-color6;

   .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $main-color3;
      padding: 20px;

      .main-title{
         font-size: 30px;
      }
   }
}

 .errors{
    color: red;
 }