.footer-outer{
    display: block;
    background-color: $main-color6;
    min-height: 300px;
    position: sticky;
    top:100vh;
    // bottom: 0;
    width: 100%;
}
.footer{
    padding: 10px;
    color:$main-color3;
    line-height: 24px;

    .footer-content{
        padding: 10px 10px;
        display: flex;
        justify-content: space-between;

        .footer-links{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 200px;
            margin-bottom: 15px;            
        }

        .footer-message{
            width: 700px;
            line-height: 30px;

            p{
                padding:10px
            }
        }
    }
}
