/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* CSS Reset*/
 @import "base/css_reset.scss";

/* COMPONENTS */
 @import "components/_greeting.css";
 @import "components/_session_form.css";
 @import "components/_profile.css";
 @import "components/_profile_edit_form.css";

 //main colors:
$main-color1: #CB997E;
$main-color2: #DDBEA9;
$main-color3: #FFE8D6;
$main-color4: #B7B7A4;
$main-color5: #A5A58D;
$main-color6: #6B705C;

 
.container{
   max-width: 1020px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 1em;
}

.header-title{
   display: block;
   background-color: $main-color6;

   .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $main-color3;
      padding: 20px;


      .main-title{
         font-size: 30px;
      }

   }
}

 .errors{
    color: red;
 }