.teashow-main-section{
    display: block;
    background-color: $main-color3;
}

.teashow{
    display:flex;
    flex-direction: row;
    max-width: 1020px;
    padding: 40px 10px;

    .teashow-left{
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        width: 30%;

        .teashow-btn{
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;

            h2{
                font-size: 20px;
                color: $main-color1;
                text-transform: uppercase;
                font-weight: 600;
            }

            .joinbtn{
                color: white;
                background-color: #ced8b2f5;
                border: 2px solid  $main-color6;
                text-align: center;
                border-radius: 8px;
                width: 100%;
                padding: 15px;
                font-size: 17px;
                font-weight: 600;
                text-transform: uppercase;  
            }

            .joinbtn:hover{
                background-color: $main-color6;
                transition: all 0.05s ease-in;
            }

            .btn2{
                background-color: #ee9385;
                border: 2px solid #9e4d40;
            }

            .btn2:hover{
                background-color: #9e4d40;
                border: 2px solid #9e4d40;  
                transition: all 0.05s ease-in;    
            }
        
            
        }

        .teashow-about{
            padding: 20px 20px;
            margin: 10px 0;
            background-color: $main-color4;
            color: $main-color8;

            h2{
                text-transform: capitalize;
                font-weight: $font1-bold;
                font-size: 18px;   
                color: $main-color7;             
            }

            p{
                padding-bottom: 10px;
                font-size: 15px;
            }

            .teashow-about-image{
                width: 70%;
                font-size: 40px;
                border-bottom: 1px solid $main-color8;
                margin: 10px 0;
                margin-top: 20px;
                margin-left: 14%;
                text-align: center;
            }
        }

        .teashow-info{
            border: 1px solid $main-color5;
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            background-color: white;

            .teashow-info-section{
                background-color: white;
                
                .link-div{
                    border-top: 1px solid $main-color5;
                }

                .teashow-title{
                    font-size: 20px;
                    color: $main-color1;
                    font-weight: $font1-bold;
                    text-transform: uppercase;
                    border-bottom:  1px solid $main-color5;
                    padding: 5px 10px;

                }
                
                p:nth-of-type(1n){
                    padding: 8px 5px;
                    margin: 0 10px;
                    
                }
                padding: 10px 5px;

                .teashow-date{
                    font-size: 18px;
                    font-weight: 600;
                    border-bottom: 1px solid $main-color5;
                }

                .teashow-loc{
                    color: $main-color8;
                }

                .teashow-link{
                    font-size: 14px;
                }
                .teashow-share{
                    font-size: 13px;
                    font-weight: 600;
                }

                .teashow-share{
                    border-bottom: 1px solid $main-color5;
                }

                .teashow-time{
                    text-align: center;
                    font-weight: 600;
                }
            }            
            
            .teashow-progress-div{
                background-color: $main-color4;
                padding: 10px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
            }
        }
    }

    .teashow-right{
        display: flex;
        flex-direction: column;
        max-width: 70%;

        .teashow-host-name{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            h1{
                font-size: 25px;
                color: $main-color1;
                font-weight: $font1-bold;
                margin-bottom: 10px;
            }
            p{
                font-size: 14px;
                color: #a5a594;
            }

            .teashow-host-rating{
                color: #464646;
                font-size: 16px;
                font-weight: 900;

                span{
                    font-size: 25px;
                    color: $main-color1;
                    font-weight: 900;
                    padding-bottom: 20px; 
                }
            }

            .teashow-host-left{
                width: 75%;
            }
            .teashow-host-right{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }

        .teashow-photo-area{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .profile-photo-div{
                border: 2px solid $main-color6;
                padding: 20px;
                margin: 40px;
                width: 50%;
        
                .profile-img{
                    width: 100%;
                    height: auto;
                }
            }
        }      

        .profile-info-div{
            display: flex;
            flex-direction: column;
            width: 100%;
            border: 2px solid $main-color6;          

            h3{
                color: $main-color8;
                font-size: 16px;
                font-weight: $font1-bold;
                background-color: #ced8b2f5;
                padding: 10px;
                margin-bottom: 10px;
            }
    
            p{
                padding: 10px;
                margin: 5px;
            }           
        }   
        
        .reviews-list{
            padding-top: 30px;
            max-height: 900px;
            overflow-y: scroll;

            .teashow-host-reviews{
                font-size: 25px;
                color: $main-color1;
                font-weight: 900;
                padding-bottom: 10px; 
            }
        }
        .reviews-list::-webkit-scrollbar {
            width: 0.25em;
            height: 0.25em;
        }
           
        .reviews-list::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px transparent;
        }
           
        .reviews-list::-webkit-scrollbar-thumb {
            border-radius: 3px;
            background-color: $main-color5;
            box-shadow: -7px 0 9px -5px $main-color5;
        }
        
        .reviews-list::-webkit-scrollbar-corner {
            background-color: $main-color3;
        }
    }
}