.teatime-container{
    display: block;
}

.teatime-header-img{
    background-image: -webkit-linear-gradient(top, $main-color7, $main-color7),image-url("teatime.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 45%;
}

.teatime-main-img-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;

    .teatime-main-line{
        color: #faf1ea;
        padding: 10px 0;
        font-weight:$font1-bold;
        font-size: 40px;
        text-transform: uppercase;
    }
    .teatime-main-subtitle{
        font-size: 20px;
        color: #faf1ea;
        font-weight: 600;
        padding: 5px 0;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
}


.teatime-description-container{
    width: 800px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: $main-color8;

    .teatime-description-main{
        color:$main-color1;
        font-weight: $font1-bold;
        font-size: 26px;
        margin-bottom: 5px;
    }

    .teatime-description-body{
        font-size: 18px;
        margin-bottom: 15px;
    }

    :last-child{
        margin-bottom: 30px;
    }

    .teatime-description-link{
        color: $main-color1;
    }
}

.teatimes-section-head{
    background-color: $main-color5;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid $main-color7;
    padding: 15px 0;
    color: $main-color8;
    
    .city-links-section{
        margin: 10px 0;

        .city-links{        
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
    
            li{
                padding: 5px 10px;
                background-color: $main-color3;
                border-radius: 5px 10px;
                border: 2px solid $main-color7;
                margin: 5px 10px;
                font-weight: $font1-bold;
                text-transform: uppercase;
                font-size: 13px;
                color: $main-color7;
            }        
            
            li:hover{
                background-color: $main-color7;
                color: $main-color3;
            }
        }
    }
    
}

.city-sections{
    margin: 20px 0px;
    margin-bottom: 40px;

    .city-li{
        max-height: 270px;
        display: grid;
        grid-template-columns: 25% 91%;
        grid-template-rows: 270px;
        margin: 20px 0px;


        .city-name{
            width:  90%;
            height:  90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            margin-top:10px;
            border: 2px solid $main-color1;

            h2{
                color: $main-color1;
                font-weight: 600;
                text-transform: uppercase;
                font-size: 17px;
            }

            .teatime-host-link{
                color: white;
                background-color: #ee9385;
                border: 2px solid #9e4d40;
                text-align: center;
                border-radius: 6px;
                width: 100%;
                margin-top: 10px;
                padding: 12px;
                font-size: 14px;
                font-weight: 600;
                text-transform: uppercase;
            }

            .teatime-host-link:hover{
                background-color: #9e4d40;
                border: 2px solid #9e4d40;   
            }
        }

        .city-tea-times{
            margin-left: 20px;
            max-width: 720px;
            max-height: 255px;
            display: flex;
            flex-wrap: no-wrap;
            overflow-x: scroll;
            overflow-y: hidden;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 10px;
            padding-bottom: 0;
            scrollbar-width: thin;
        }
    }
}
.Link{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tea-time-item-box{
    height: 212px;
    font-size: 14px;
    width: 190px;
    min-width: 180px;
    margin-right: 10px;
    border-radius: 0 0 5px 5px;
    background-color: $main-color3;

    .teatime-main{
        border-left: 2px solid  $main-color1;
        border-right: 2px solid $main-color1;
        border-top:  2px solid $main-color1;

        .teatime-box-top{
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 57%;
    
            .teatime-top-time{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 60%;
    
                h1{
                    font-size: 15px;
                    margin:4px 0px;
                    font-weight: 600;
                }
               
                h3{
                    font-size: 15px;
                    font-weight: 600;
                    margin: 2px 0px;
                }
    
                div{
                    display: flex;
                    flex-direction: column;
    
                    h2{
                        font-size: 14px;
                        margin:2px 0px;
                    }
                }
               
                
            }
    
            .teatime-profile{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 60%;
    
                .teatime-profile-img-div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: $main-color3;
                    border: 2px solid $main-color1;
                    border-radius: 3px;
                    width: 85px;
                    height: 125px;
                    margin: auto;
                    position: relative;
                    top: -15px;
    
                    div{
                        padding-top: 3px;
                        width: 65px;
                        height: 100px;
                        overflow: hidden;
                        position: relative;
                        top: 2px;
                        padding-bottom: 2px;
    
                        img{
                            max-width: 65px;
                            height: auto;
                            object-fit: cover;
                            object-position: 30% 50%;
                        }
                    }
                    
    
                    h2{
                        margin-top: 2px;
                        font-weight: 600;
                        color: $main-color1;
                    }
                }
            }
        }
    
        .teatime-location{
            display: flex;
            justify-content: center;
            align-items: center;
            color: $main-color8;
            max-height: 30px;
         
    
            p{
                width: 90%;
                height: 25px;
                min-height: 10%;
                font-size: 13px;
                margin-bottom: 10px;
                padding-bottom: 7px;
                border-bottom: 1px solid $main-color5;
                overflow: hidden;
            }
        }
    
    }

    .teatime-progress-bar-container{
        border:  2px solid $main-color1;
        border-top: none;
        background-color: $main-color4;
        height: 55px;
        border-radius: 0 0 5px 5px;

        .teatime-progress-bar-div{
            padding-top: 5px;
        }

    }
}

.tea-time-item-box:hover{
    filter: drop-shadow(0.5px 0.5px 2px $main-color8);

}

.progress-bar{
    display: flex;
    flex-direction: column;
    align-items: center;

    h2{
        color: $main-color6;
        font-weight: $font1-bold;
        font-size: 120%;
    }

    .bar{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
        padding: 10px 0;

        .block{
            width: 20px;
            height: 10px;
            background-color: $main-color7;
            margin-right: 3px;
        }

        :first-child{
            border-radius: 5px 0 0 5px;
        }

        :last-child{
            border-radius: 0 5px 5px 0;
        }

        .white{
            background-color: white;
        }
    }
}