.tea-time-form-section{
    display: block;
    background-color: $main-color3;
}

.tea-time-form-container{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;

    .tea-time-form{
        width: 75%;
        display: flex;
        flex-direction: column;
        padding-left: 10px;

        .tea-time-form-header-div{            
            font-size: 30px;
            color: $main-color1;
            font-weight: $font1-bold;
            padding-bottom: 15px;
        }

        h3{
            color: $main-color8;
            font-size: 16px;
            font-weight: $font1-bold;
        }

        .tea-time-form-top{
            display: block;
            background-color: #ced8b2f5;
            padding: 20px 20px;
            border: 2px solid  $main-color6;
            border-bottom: none;
        }

        .tea-time-form-inputs{
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: white;
            border: 2px solid  $main-color6;
            border-top: none;
            padding: 0 20px;
            padding-bottom: 20px;

            .tea-time-edit-info-tag{
                width: 100%;

                h3{
                    padding: 15px 30px;
                }

                select{
                    border-radius: 5px;
                    border: 1px solid $main-color4;
                    padding: 10px 20px; 
                    width: 30%;
                    text-align: center;
                }

                .tea-time-edit-time-inputs{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;

                    div{
                        margin: 0 10px;
                        font-size: 18px;

                    }

                    input{
                        border-radius: 5px;
                        border: 1px solid $main-color4;
                    }
                }

                .tea-time-form-field{
                    background-color: white;
                    width: 100%; 
                    padding: 15px 30px;   
                    margin-bottom: 12px;
                    border-radius: 5px;
                    border: 1px solid $main-color4;
                    max-width: 100%;
                    
                    :first-of-type{
                        margin-top: 12px;
                    }                
                }
            }
        }

        .tea-time-button-div{
            display: flex;
            flex-direction: column;
            margin-top: 15px;

            .tea-time-button{
                color: white;
                background-color: #ced8b2f5;
                border: 2px solid  $main-color6;
                text-align: center;
                border-radius: 8px;
                width: 100%;
                padding: 15px;
                font-size: 17px;
                font-weight: 600;
                text-transform: uppercase;                
            }

            :first-child{
                margin-bottom: 10px;
            }

            :last-child{
                background-color: #ee9385;
                border: 2px solid #9e4d40;
            }

            :last-child:hover{
                background-color: #9e4d40;
                border: 2px solid #9e4d40;                
            }

            :hover{
                background-color: $main-color6;
                transition: all 0.05s ease-in;
            }
        }
    }
}
