.review-item{
    border: 2px solid $main-color8;
    padding: 20px;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;


    .review-item-name-div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;

        span{
            font-size: 16px;
            font-weight: 900;
            color: $main-color8;
        }

        .review-delete-btn{
            padding: 5px 15px;
            background-color: $main-color1;
            border: 2px solid #9e4d40;
            border-radius: 5px;
            color: white;
            text-transform: uppercase;
            font-weight: 600;
            transition: all 0.05s ease-in;
        }

        button:hover{
            background-color: #9e4d40;
            border: 2px solid #9e4d40;
        }
    }

    .review-item-rating-div{
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
    }

    .review-item-review-div{
        padding: 15px 30px;
        border: 1px solid $main-color4;
        max-height: 200px;
        margin-bottom: 10px;
        border-radius: 5px;
        overflow-y: scroll;
    }
    
}

.star{
    height: 25px;
    width: 25px;
    color: $main-color8;
}


.reviews-section{
    width: 100%;
    background-color: $main-color3;

    .reviews-container{
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 20px;
        padding: 20px 10px;
    }

    .reviews{
        width: 50%;

        .reviews-top{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            span{
                color: #464646;
                font-size: 16px;
                font-weight: 900;
            }
        }

        .review-title{
            font-size: 25px;
            color: $main-color1;
            font-weight: 900;
            padding-bottom: 20px; 
        }

        .reviews-list{
            max-height: 900px;
            overflow-y: scroll;
        }        
    }

    .reviews .left{
        .reviews-list{
            max-height: 1200px;
            overflow-y: scroll;
        }   
    }
}

.review-form-div{
    width: 100%;
    margin-bottom: 10px;

    .review-form{
        width:100%;
        display: flex;
        flex-direction: column;

        .review-form-top{
            display: block;
            background-color: #ced8b2f5;
            padding: 20px 20px;
            border: 2px solid #6b705cf5;
            border-bottom: none;

            h3{
                color: #464646;
                font-size: 16px;
                font-weight: 900;
            }
        }

        .review-form-inputs{
            display: flex;
            flex-direction: column;
            width: 100%;
            background-color: white;
            border: 2px solid #6b705cf5;
            border-top: none;
            padding: 0 20px;
            padding-bottom: 20px;

            .review-form-tag{
                width: 100%;

                h3{
                    padding: 10px 10px;                  
                    color: #464646;
                    font-size: 16px;
                    font-weight: 900;                    
                }

                .host-select{
                    padding: 5px 5px;
                    border: 1px solid $main-color5;
                    border-radius: 5px;
                    font-size: 16px;
                    transition: all 0.1s ease-in;
                    box-sizing: border-box;
                    background-color: white;


                    option{
                        padding: 5px 5px;
                        color: $main-color8;
                    }
                }

                .host-select:hover{
                   border: 1px solid $main-color8;
                }

                .review-form-field{
                    background-color: white;
                    width: 100%;
                    padding: 15px 30px;
                    margin-bottom: 12px;
                    border-radius: 5px;
                    border: 1px solid #B7B7A4;
                    max-width: 446px;
                    
                }
            }

            .review-btn-container {
                display: flex;
                flex-direction: column;
                margin-top: 15px;

                .review-button{
                    background-color: #ee9385;
                    border: 2px solid #9e4d40;
                    padding: 10px 20px;
                    border-radius: 6px;
                    color: white;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: 600;
                    transition: all 0.1s ease-in;
                }

                .review-button:hover{
                    background-color: #9e4d40;
                    border: 2px solid #9e4d40;
                }
            }
        }
    }
}

.star-radio{
    opacity: 0;
    position: fixed;
}

.reviews-list::-webkit-scrollbar {
    width: 0.3em;
    height: 0.3em;
}
   
.reviews-list::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px $main-color5;
}
   
.reviews-list::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $main-color6;
    box-shadow: -7px 0 9px -5px $main-color5;
}

.reviews-list::-webkit-scrollbar-corner {
    background-color: $main-color3;
}


.review-item-review-div::-webkit-scrollbar {
    width: 0.25em;
    height: 0.25em;
}
   
.review-item-review-div::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px transparent;
}
   
.review-item-review-div::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: $main-color5;
    box-shadow: -7px 0 9px -5px $main-color5;
}

.review-item-review-div::-webkit-scrollbar-corner {
    background-color: $main-color3;
}